/* fonts */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


  body{
    font-family: 'Open Sans', sans-serif;
  }

.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 17px 34px;
}


/* header */
.header{
    background-color: #FFF8F3;
}
  .nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
  }
  .nav-title span{
    color: #FD6E0A;
   
  }
  nav{
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav li{
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
  }
  nav a{
    text-decoration: none;
    color: #474747;
  }
  .banner{
    margin: 30px 50px 30px 130px;
    display: flex;
    align-items: center;
  }

  .banner img{
   width: 400px;

  }
  *{
    margin: 0;
    padding: 0;
  }